html
  head
    title #{title}
  body
    h1 Capture Form
    .checkout-page
      form#captures-form(method='POST' action='payments/#{payment_id}/captures')
        .field
          label payment_id: #{payment_id}
          input(type='hidden' id='payment_id' value='#{payment_id}')
        .field          
          label amount: #{amount}
        .field      
          label currency: #{currency}
        .field
          label description: #{description}
        button#auth_button(type='submit') Capture
    script(src='/javascripts/authorizations.js')