html
  head
    title #{title}
  body
    h1 Secure Fields Form
    .checkout-page
      form#payment-form(method='POST' action='payments/#{payment_id}/authorizations')
        .field
          label #{paymentId}
        .field          
          label #{amount}
        .field      
          label #{currency}
        .field
          label #{description}
        button#auth_button(type='submit') Authorize
    script(src='/javascripts/payments.js')
      

